<!DOCTYPE html>
{% load static %}
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Abduqodir developer">
    <meta name="author" content="Abduqodir Developer">
    <meta name="description" content="Software Engineer.IT sohasini o'rganib, ishlab kelmoqdaman">
    <title>Abduqodir Developer</title>
    <link rel="stylesheet" href="{% static 'Diyorbek_files/shared.css' %}">
    <link rel="stylesheet" href="{% static 'Diyorbek_files/main.css' %}">
    <link rel="stylesheet" href="{% static 'Diyorbek_files/contact.css' %}">
    <link rel="stylesheet" href="{% static 'Diyorbek_files/all.min.css' %}" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="icon" href="{% static 'Diyorbek_files/logo.png' %}">
</head>
<body>
    <!-- header section -->

    <header class="main-header">
        <div class="container">
            <div class="main-header__brand">
                <a href="/">
                    <img src="{% static 'Diyorbek_files/logo.png' %}" alt="logo">

                </a>
            </div>
            <nav class="main-navigation">
                <ul class="main-navigation__items">
                    <li class="main-navigation__item active">
                        <a href="/">Asosiy</a>
                    </li>

                    <li class="main-navigation__item">
                        <a href="#about-me">Men haqimda</a>
                    </li>

                    <li class="main-navigation__item">
                        <a href="#services">Xizmatlar</a>
                    </li>
                    <!--
                    <li class="main-navigation__item">
                        <a href="#">Mijozlar</a>
                    </li> -->

                    <li class="main-navigation__item">
                        <a href="#portfolio">Portfolio</a>
                    </li>

                    <!-- <li class="main-navigation__item">
                        <a href="#">Blog</a>
                    </li> -->

<!--                    <li class="main-navigation__item">-->
<!--                        <a href="#partners">Hamkorlar</a>-->
<!--                    </li>-->
                    <li class="main-navigation__item">
                        <a href="#contact">Bog'lanish</a>
                    </li>

                </ul>
            </nav>
        </div>

    </header>

    <!-- / header section -->
   <!-- Main section -->
   <div class="main-banner">
        <div class="container">
            <section id="main-section" class="main-section">
                <div class="main-section__info">
                    <h4 class="main-section__welcome to_uppercase">Assalomu alaykum!</h4>
                    <h1 class="main-section__introduction to_uppercase">Men Abduqodir </h1>
                    <h3 class="main-section__position to_uppercase">Backend developer</h3>
                    <div class="main-section__social-networks">
                        <a href="https://www.linkedin.com/in/abduqodir-do-stmurodov-7a239931b/">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                        <a href="https://t.me/abduqodir_Dev" class="">
                            <i class="fa-brands fa-telegram"></i>
                        </a>
                        <a href="https://www.youtube.com/@cuber_goct9189">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                        <a href="https://www.instagram.com/creater_disigin/">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a href="https://github.com/abduqodirDev">
                            <i class="fa-brands fa-github"></i>
                        </a>


                    </div>
                    <a href="#portfolio">
                    <button class="main-section__action to_uppercase button" type="button">
                        Ishlarimni ko'ring
                    </button></a>
                </div>

<!--                <div class="main-section__image">-->
<!--                    <img src="{% static 'Diyorbek_files/mine.png' %}" alt="My image" hidden="">-->
<!--                </div>-->
            </section>
        </div>
   </div>

   <div class="clearfix"></div>
   <!-- /Main section -->

   <!-- Statistics section -->
   <!-- <div class="container">
       <section class="statistics" id="statistics">
            <div class="statistics__item">
                <h3 class="statistics__number">
                    3+
                </h3>
                <p class="statistics__title">
                    Xursand mijozlar
                </p>
            </div>
            <div class="statistics__item">
                <h3 class="statistics__number">
                    2+
                </h3>
                <p class="statistics__title">
                    Yordam
                </p>
            </div>
            <div class="statistics__item">
                <h3 class="statistics__number">
                   10/10
                </h3>
                <p class="statistics__title">
                   O'rtacha reyting
                </p>
            </div>
       </section>
   </div> -->
   <!--  /Statistics section -->

   <!-- About me section -->
   <div class="container">
    <section id="about-me" class="about-me">
        <div class="about-me__image">
            {% for info in account %}
            <img src="{{info.image.url}}" alt="about me image">
        </div>
        <div class="about-me__info">
            <h5 class="section-subtitle">
                Men haqimda
                <span class="blur-line"></span>
            </h5>
            <h3 class="section-title">
                Junior developer
            </h3>
            <p class="about-me__description">
                {{info.about_me | safe}}
<!--                Ismim Abduqodir. Yoshim 21 da. 2 yildan buyon ushbu-->
<!--sohani o'rganib, ishlab kelmoqdaman.-->
<!--                Hozirda Qashqadaryoda yashayman va tahsil olaman . Bir-->
<!--qancha real loyihalarni tayyorlaganman va tayyorlashda ishtirok-->
<!--etganman.-->
            </p>
            <button type="button" onclick="window.open('.{{info.rezyume.url}}')" class="button to_uppercase about-me__action">Resumeni ko'chirib olish</button>
        {% endfor %}
        </div>
   </section>
   </div>

   <div class="clearfix"></div>
   <!--/ About me section -->

   <!-- Services section -->
   <div class="container">
    <section id="services" class="services">
        <h5 class="section-subtitle">
            Mening xizmatlarim
            <span class="blur-line"></span>
        </h5>
        <h2 class="section-title">
            Men taklif <br>
            qiladigan xizmatlar
        </h2>
        <div class="services__cards">
            <div class="service-card">
                <img src="{% static 'Diyorbek_files/web.png' %}" alt="" class="service-card__icon">
                <h5 class="service-card__title">Veb dasturlash</h5>
                <p class="service-card__description">
                    Turli murakkablikdagi veb ilovalarni backend qismini tuzaman
                </p>
                <a href="https://en.wikipedia.org/wiki/History_of_the_World_Wide_Web" class="service-card__link">Ko'proq</a>
            </div>
            <div class="service-card">
                <img width="350" height="250" src="{% static 'Diyorbek_files/pentesting.png' %}" alt="" class="service-card__icon">
                <h5 class="service-card__title">Pentesting</h5>
                <p class="service-card__description">
                    Har qanday turdagi web saytlar xavfsizligini tekshiraman va oldini olaman
                </p>
                <a href="https://en.wikipedia.org/wiki/Penetration_test" class="service-card__link">Ko'proq</a>
            </div>
            <div class="service-card">
                <img src="{% static 'Diyorbek_files/DevOps.png' %}" alt="" class="service-card__icon">
                <h5 class="service-card__title">QA Testing</h5>
                <p class="service-card__description">
                   Web saytlarning optimal ishlashini taminlab beraman
                </p>
                <a href="https://en.wikipedia.org/wiki/Software_testing" class="service-card__link">Ko'proq</a>
            </div>
        </div>
   </section>
   </div>

   <!-- /Services section -->

   <!-- Clients section -->
   <!-- <div class="container">
    <section id="clients" class="clients">
        <h5 class="section-subtitle">
            Mening mijozlarim
            <span class="blur-line"></span>
        </h5>
        <h2 class="section-title">
            Hurmattli mijozlarim <br>
            men haqimda
        </h2>
        <div class="client-items">
            <div class="client-item">
                <div class="client-item__image">
                    <img src="./images/person.png" alt="client image">
                </div>
                <div class="client-item__info">
                    <h3 class="client-item__name">Alisher Sultonov</h3>
                    <p class="client-item__position">Senior katta dasturchi</p>
                    <p class="client-item__review">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit commodi veniam voluptates magnam a molestias exercitationem aliquam odit, doloribus enim cumque deleniti quibusdam facere, laborum sit, explicabo corrupti rerum at odio architecto excepturi earum expedita. Porro cum reiciendis, praesentium unde, et, accusamus sequi voluptatibus debitis qui consequatur optio? Adipisci, itaque.
                    </p>
                    <div class="client-item__rate">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>

            </div>
        </div>
   </section>
   </div> -->
   <div class="clearfix"></div>
   <!-- /Clients section -->

    <!-- Portfolio section -->
   <div class="container">
    <section id="portfolio" class="portfolio">
        <div class="section-subtitle">
            Mening Ishlarim
            <span class="blur-line"></span>
        </div>
        <div class="section-title">
            Mening oxirgi <br>
            ishlarimni ko'ring
        </div>
        {% for project in projects %}
        <div class="portfolio-items">
            <div class="portfolio-item">
                <img width="700" src="{{project.image.url}}" alt="Portfolio Image" class="portfolio-item__image">
                <div class="portfolio-item__overlay"></div>
                <div class="portfolio-item__info">
                    <h4>
                        <a href="{{project.url}}" target="_blank" class="">{{project.url_name}}</a>
                    </h4>
                    <p>
                        {{project.caption}}
                    </p>
                </div>
            </div>
            {% endfor %}
<!--            <div class="portfolio-item portfolio-item-2">-->
<!--                <img src="{% static 'Diyorbek_files/hrbot.png' %}" alt="Portfolio Image" class="portfolio-item__image">-->
<!--                <div class="portfolio-item__overlay"></div>-->
<!--                <div class="portfolio-item__info">-->
<!--                    <h4>-->
<!--                        <a href="https://t.me/VM_anketa_bot" target="_blank" class="">@HrBot</a>-->
<!--                    </h4>-->
<!--                    <p>-->
<!--                        Hr ( Hodimlar resumesini tayyorlovchi ) telegram bot-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->


<!--            <div class="portfolio-item portfolio-item-3">-->
<!--                <img src="{% static 'Diyorbek_files/pdfconvbot.png' %}" alt="Portfolio Image" class="portfolio-item__image">-->
<!--                <div class="portfolio-item__overlay"></div>-->
<!--                <div class="portfolio-item__info">-->
<!--                    <h4>-->
<!--                        <a href="https://t.me/pdfconvbot" target="_blank" class="">@PdfConvBot</a>-->
<!--                    </h4>-->
<!--                    <p>-->
<!--                         Fayllar bilan ishlovchi telegram bot-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->


        </div>
    </section>
   </div>
    <!-- /Portfolio section -->

    <!-- Blog section -->
    <!-- <div class="container">
        <section id="blog" class="blog">
            <div class="section-subtitle">
                Mening blogim
                <span class="blur-line"></span>
            </div>
            <div class="section-title">
                Oxirgi maqolalarim <br>
            </div>
            <div class="blog-items">
                <div class="blog-item">
                    <div class="blog-item__image">
                        <img src="./images/logo.png" alt="logo-1">
                    </div>
                    <div class="blog-item__info">
                        <div class="blog-item__main-info">
                            <span class="blog-item__author">
                                <i class="fa fa-user"></i>
                                Admin post
                            </span>
                            <span class="blog-item__date">
                                <i class="fa fa-calendar"></i>
                                Feb 5,2021
                            </span>
                        </div>
                        <h5 class="blog-item__title">
                            Mening maqolam...
                        </h5>
                        <p class="blog-item__description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit non laboriosam ex debitis nisi quod eligendi, voluptates voluptas natus itaque expedita deserunt officia rerum, omnis iste dignissimos quasi modi odit?
                        </p>
                        <a href="#" class="blog-item__learn-more">Ko'proq o'qish</a>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="blog-item__image">
                        <img src="./images/logo.png" alt="logo-1">
                    </div>
                    <div class="blog-item__info">
                        <div class="blog-item__main-info">
                            <span class="blog-item__author">
                                <i class="fa fa-user"></i>
                                Admin post
                            </span>
                            <span class="blog-item__date">
                                <i class="fa fa-calendar"></i>
                                Feb 5,2021
                            </span>
                        </div>
                        <h5 class="blog-item__title">
                            Mening maqolam...
                        </h5>
                        <p class="blog-item__description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit non laboriosam ex debitis nisi quod eligendi, voluptates voluptas natus itaque expedita deserunt officia rerum, omnis iste dignissimos quasi modi odit?
                        </p>
                        <a href="#" class="blog-item__learn-more">Ko'proq o'qish</a>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="blog-item__image">
                        <img src="./images/logo.png" alt="logo-1">
                    </div>
                    <div class="blog-item__info">
                        <div class="blog-item__main-info">
                            <span class="blog-item__author">
                                <i class="fa fa-user"></i>
                                Admin post
                            </span>
                            <span class="blog-item__date">
                                <i class="fa fa-calendar"></i>
                                Feb 5,2021
                            </span>
                        </div>
                        <h5 class="blog-item__title">
                            Mening maqolam...
                        </h5>
                        <p class="blog-item__description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit non laboriosam ex debitis nisi quod eligendi, voluptates voluptas natus itaque expedita deserunt officia rerum, omnis iste dignissimos quasi modi odit?
                        </p>
                        <a href="#" class="blog-item__learn-more">Ko'proq o'qish</a>
                    </div>
                </div>
            </div>
        </section>
    </div> -->
    <!-- /Blog section -->

    <!-- Partners section -->
<!--    <div class="container">-->

<!--        <section id="partners" class="partners">-->
<!--            <div class="section-subtitle">-->
<!--                Hamkorlar-->
<!--                 <span class="blur-line"></span>-->
<!--             </div>-->
<!--             <div class="section-title">-->
<!--                 Mijozlar  <br>-->
<!--                va hamkorlar-->
<!--             </div>-->
<!--            <div class="partner_items">-->
<!--                <div class="partner">-->
<!--                    <img src="{% static 'Diyorbek_files/amirshoes.png' %}" alt="partner">-->
<!--                </div>-->
<!--                <div class="partner" id="teamwork_logo">-->
<!--                    <img src="{% static 'Diyorbek_files/teamwork.jpg' %}" alt="partner">-->
<!--                </div>-->
<!--                <div class="partner">-->
<!--                    <img src="{% static 'Diyorbek_files/sarpomarkazi.png' %}" alt="partner">-->
<!--                </div>-->
<!--                <div class="partner">-->
<!--                    <img src="{% static 'Diyorbek_files/grandprint.png' %}" alt="partner">-->
<!--                </div>-->
<!--            </div>-->

<!--        </section>-->
<!--    </div>-->

    <!-- /Partners section -->
    <div class="clearfix"></div>
    <!-- Contact -->
    <div class="container">
        <section class="contact" id="contact">
            <div class="section-subtitle">
                Bog'lanish
                 <span class="blur-line"></span>
             </div>
             <div class="section-title" id="section-title">
                Men bilan bog'laning
            </div>

            <form action="/send-message/" method="POST">{% csrf_token %}
                <input type="text" name="chat_id" id="" value="1468429008" hidden="">
                <textarea name="body" id="text" rows="10" placeholder="Xabaringizni kiriting" required=""></textarea>
                <div class="half-flex">
                    <div class="contact__firstname">
                    <input name="name" type="text" placeholder="Ismingizni kiriting" id="fn" required="">
                </div>

                <div class="contact__email">
                    <input name="email" type="email" placeholder="Emailingizni kiriting" id="em" required="">
                </div>
                </div>
                <input type="text" name="parse_mode" value="html" hidden="">
                <button class="button contact__send" id="button" onclick="send_message();">Xabar jo'natish</button>
            </form>
        </section>
    </div>
    <!-- /Contact -->
    <!-- Footer section -->
    <footer class="footer">
        <div class="container">
            <div class="footer__brand">
                <img src="{% static 'Diyorbek_files/linewhite.png' %}" alt="logo">
            </div>
            <nav class="footer__navigation">
                <ul class="footer__navigation-items">
                    <li class="footer__navigation-item">
                        <a href="#>Asosiy</a>

                    </li>

                    <li class="footer__navigation-item">
                        <a href="#about-me">Men haqimda</a>

                    </li>

                    <li class="footer__navigation-item">
                        <a href="#services">Xizmatlar</a>

                    </li>

                    <!-- <li class="footer__navigation-item">
                        <a href="#">Mijozlar</a>

                    </li> -->

                    <li class="footer__navigation-item">
                        <a href="#portfolio">Portfolio</a>

                    </li>
                    <!-- <li class="footer__navigation-item">
                        <a href="#">Blog</a>
                    </li> -->

<!--                    <li class="footer__navigation-item">-->
<!--                        <a href="#partners">Hamkorlar</a>-->
<!--                    </li>-->
                    <li class="footer__navigation-item">
                        <a href="#contact">Bog'lanish</a>
                    </li>

                </ul>
            </nav>
            <ul class="footer__socials">
               <div class="footer__social">
                    <a href="https://www.linkedin.com/in/abduqodir-do-stmurodov-7a239931b/">
                            <i class="fa-brands fa-linkedin"></i>
                    </a>
                </div>
                <div class="footer__social">
                    <a href="https://t.me/abduqodir_Dev" class="">
                            <i class="fa-brands fa-telegram"></i>
                    </a>
                </div>
                <div class="footer__social">
                    <a href="https://www.youtube.com/@cuber_goct9189">
                            <i class="fa-brands fa-youtube"></i>
                    </a>
                </div>
                <div class="footer__social">
                    <a href="https://www.instagram.com/creater_disigin/">
                            <i class="fa-brands fa-instagram"></i>
                    </a>
                </div>
                <div class="footer__social">
                    <a href="https://github.com/abduqodirDev">
                            <i class="fa-brands fa-github"></i>
                    </a>
                </div>
            </ul>
            <p class="footer__text">
                Copyright ©2024 All rights reserved
            </p>
        </div>
    </footer>

    <!-- /Footer section -->
    <script>
        function send_message () {
        let message = `Name: <pre>${document.getElementById('fn').value}</pre>Email: <pre>${document.getElementById('em').value}</pre>Subject: <pre>${document.getElementById('sub').value}</pre>Message: <pre>${document.getElementById('text').value}</pre>`;

        if (document.getElementById('text').value){
            fetch("https://api.telegram.org/bot1933805159:AAGYOWT70UooNWqhL4__sUCq-8vc9osLXdg/sendMessage?chat_id=1468429008&parse_mode=html&text=" + message) ;
            alert("Xabaringiz jo\'natildi!")
        }
 }
    </script>

</body></html>